@media screen and (max-width: 1045px) {

    .botao {
        margin-top: 5px;
        width: 230px;
        height: 40px;
    }

    .filme-principal .container {
        width: 60%;
    }

    .filme-principal .descricao {
        font-size: 15px;
    }
    
    .filme-principal .titulo {
        margin-top: 15%;
        font-size: 40px;
        font-family: 'Trebuchet MS', Arial, sans-serif;
    }

    .filme-principal {
        height: 550px;
        background-position: left;
    }
}


@media screen and (max-width: 500px) {

    nav a {
        font-size: 12px;
    }

    header .logo {
        width: 70px;
        height: auto;
    }

    .filme-principal {
        
        background-position-x: 75%;
    }

    .filme-principal .container {
        margin-top: 30%;
    }

    .filme-principal .descricao {
        margin-bottom: 20px;
        font-size: 13px;
    }
}